.card img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card {
  height: 350px;
}

.card:hover {
  color: #544eac
}

/* body {
  background-image: url(https://www.nasa.gov/sites/default/files/thumbnails/image/darkrift-orig_full.jpg);
  object-fit: cover;
  background-size: cover
} */