@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Neonderthaw&family=Oxygen&family=Rubik+Beastly&display=swap');

body {
  background-image: url(https://www.nasa.gov/sites/default/files/thumbnails/image/darkrift-orig_full.jpg);
  object-fit: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-family: 'Lobster', cursive; */
  font-family: 'Oxygen', sans-serif;
}

.card img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card {
  height: 350px;
}

.card:hover {
  color: #544eac
}


.home {
  display: flex;
}

.moon-link {
  font-size: 40px;
  /* font-family: 'Oxygen', sans-serif; */
  padding: 40px 80px;
  color: #fff;
  transition: 0.3s ease all;
  text-transform: uppercase;
}

.navbar {
  display:flex;
  justify-content: center;
  font-size: 25px;
  /* font-family: 'Oxygen', sans-serif; */
  color: #fff;
  transition: 0.3s ease all;
  text-transform: uppercase;
}

.nav-link:hover {
  color: white;
}
.nav-link:active {
  color: white;
}
.nav-link:visited {
  color: white;
}

.subtitle {
  font-size: 20px;
  display: flex;
  padding: 40px 80px;
  color: #fff;
  transition: 0.3s ease all;
  text-transform: uppercase;
}