body {
  background-image: url(https://www.nasa.gov/sites/default/files/thumbnails/image/darkrift-orig_full.jpg);
  object-fit: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .App {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.card img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card {
  height: 350px;
}

.card:hover {
  color: #544eac
}


/* .loader {
  display: flex;
  justify-content: center;
  align-items: center;
  
} */

.home {
  display: flex;
}

.moon-link {
  font-size: 40px;
  padding: 40px 80px;
  color: #fff;
  transition: 0.3s ease all;
  text-transform: uppercase;
}

.navbar {
  display:flex;
  justify-content: center;
  font-size: 25px;
  color: #fff;
  transition: 0.3s ease all;
  text-transform: uppercase;
}

.nav-link:hover {
  color: white;
}
.nav-link:active {
  color: white;
}
.nav-link:visited {
  color: white;
}

.subtitle {
  font-size: 20px;
  display: flex;
  padding: 40px 80px;
  color: #fff;
  transition: 0.3s ease all;
  text-transform: uppercase;
}